.Card
{
    display: flex;
    flex: 1;
    height: 8rem !important;
    border-radius: 0.7rem;
    color: black;
    padding: 1rem;
    position: relative;
    cursor: pointer;
    background-color: white;
    width:100%;
}
.Card:hover {
    box-shadow: none !important;
  }
.spanTitle
{
    color: rgb(255, 255, 255);
    font-family: sofia-pro, sans-serif;
    font-size: 25px;
}