.Card
{
    background-color:#cbdfec;
}
.TextLines
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
    gap:2rem;
}
.nameSpan
{
    font-size: 26px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.welcomeSpan
{
    font-size: 14px;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}